.product {
  top: 200px;
  /* position: relative; */
  text-align: left;
  margin-left: 200px;
  margin-top: 400px;
}
.product h2 {
  /* margin-top: 500px; */
}
.product-image {
  float: right;
  margin-right: 300px;
  margin-top: -150px;
}

.card {
  background-color: rgb(197, 255, 255);
  height: 500px;
}
