body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

  top: 0;

  position: sticky;
  opacity: 200;
  border-bottom: 2px solid #3ea5b5;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(75, 70, 70);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 30px;
}

li a:hover {
  color: #3ea5b5;
}

li .active {
  color: #3ea5b5;
  width: 100px;
  margin-top: 30px;
}

.cart {
  background-color: #3ea5b5;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  position: relative;
  display: inline-block;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.cart .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: white;
  color: #3ea5b5;
}

/* @media (max-width: 700px) {
  ul > .nav-items {
  
  } */
